

<div class="container well">


		<h4>JSON processing</h4>
		<div data-ng-controller="CompaniesCtrl">

			<div id="messages" class="alert alert-success"
				data-ng-show="messages" data-ng-bind="messages">request
				process successfully...</div>

			<form class="form-horizontal" novalidate name="form" role="form">
				<div class="form-group">
					<label class="col-md-2 control-label">Name</label> <span
						class="label label-danger"
						data-ng-show="submitted1 && form.name.$error.required">Required!</span>
					<div class="col-md-4">
						<input type="text" class="form-control" name="name"
							data-ng-model="name" required />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Contact No</label> <span
						class="label label-danger"
						data-ng-show="submitted1 && form.employees.$error.required">Required!</span>
					<div class="col-md-4">
						<input type="text" class="form-control" name="employees"
							data-ng-model="employees" required />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Location</label> <span
						class="label label-danger"
						data-ng-show="submitted1 && form.headoffice.$error.required">Required!</span>
					<div class="col-md-4">
						<input type="text" class="form-control" name="headoffice"
							data-ng-model="headoffice" required />
					</div>
				</div>
				<div class="form-group">
					<div style="padding-left: 110px">
						<input type="submit" data-ng-click="addcompinfo(form)"
							value="Submit" class="btn btn-primary" />
					</div>
				</div>
			</form>



			<table class="table stripped">
				<tbody>
					<tr>
						<th>Name</th>
						<th>Contact No</th>
						<th>Location</th>
					</tr>

					<tr class="ng-scope" ng-repeat="company in companies">
						<td class="ng-binding">{{company.name}}</td>
						<td class="ng-binding">{{company.employees}}</td>
						<td class="ng-binding">{{company.headoffice}}</td>
					</tr>

				</tbody>
			</table>

		</div>
	</div>

